<h1><%="#{@user.first_name} #{@user.last_name}"%></h1>
<%="Email : #{@user.email}"%></br>
<%="Age : #{@user.age}"%></br>
<p>Ville : <%=link_to "#{@user.city.name}", city_path(@user.city.id)%></p>
<p><%="Description : #{@user.description}"%></p>
