<h1><%="#{@user.first_name} #{@user.last_name}"%></h1>
<%="Email : #{@user.email}"%></br>
<%="Age : #{@user.age}"%></br>
<%="Ville : #{@user.city.name}"%></br>
<p><%="Description : #{@user.description}"%></p>
