<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    </br><h1><%= "bienvenue, #{User.last.first_name} !"%></h1></br>

    <p id="notice"><%= notice %></p>

<% if @gossip.id == current_user.id %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <h4 class="alert-heading">Congrats !</h4>
  <p>Vous venez de créer un nouveau potin !</p>
  </div>
<% end %>
<script>
$(".alert").alert('close')
</script>
    <h2>Pour créer un potin, c'est par <%=link_to "ici", new_gossip_path%> !</h2></br>

    <div class="container">
      <div class="row">
          <% @gossips.each_with_index do |obj, i| %>
            <div class="col-6 col-sm-4 col-md-4 col-lg-4 mt-5 align-items-center">
              <div class="card" style="width: 18rem;">
              <img src="https://t4.ftcdn.net/jpg/02/99/57/77/240_F_299577731_aIvhevVjsFZLMhhgv00eWzCbOnmbOTho.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=obj.user.first_name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%=obj.title%></h6>
                  <%= link_to "Potin entier", gossip_path(obj.id)%>
                </div>
              </div>
            </div>      
          <%end%>
      </div>
    </div>
   
  </body>
</html>
